aniso8601==6.0.0
asn1crypto==0.24.0
awscli==1.16.74
botocore==1.12.64
Click==7.0
colorama==0.3.9
cryptography==2.3
docutils==0.14
enum34==1.1.6
Flask==1.0.2
Flask-Prometheus==0.0.1
Flask-RESTful==0.3.7
futures==3.2.0
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.3
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
prometheus-client==0.6.0
pyasn1==0.4.4
pycrypto==2.6.1
python-dateutil==2.7.5
pytz==2018.7
pyxdg==0.26
PyYAML==5.1
rsa==3.4.2
s3transfer==0.1.13
SecretStorage==2.3.1
six==1.11.0
urllib3==1.24.2
virtualenv==16.1.0
Werkzeug==0.15.2
pytest===4.6.4
coverage===4.5.4
requests===2.22.0
networkx===2.2