

.App-header {
  text-align: center;
  height: 200px;
  padding: 100px;
}

.App-footer {
  text-align: center;
  position: relative;
  bottom: 0;
  margin: 10px;
  width: 100%;
}

.App-title {
  font-size: 10em;
}

.App-intro {
  font-style: italic;
  font-size: large;
}

.Sideways {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
  margin-top: 2%;
}

.HoverPointer {
  cursor: pointer;
}

.PaginationBox {
  margin: 3px;
}

.radioBox {
  display: flex;
}

.radioBox > .radioLabel {
  margin-right: 1em;
}

.login {
  margin: 150px;
  text-align: center;
}


.search-container {
  margin-left: 0px;
  padding: 0px;
  height: 100%;
}

.search-filters-container {
  background: white;
  padding-right: 0px;
  border-right: 2px solid;
  border-color: #b9b9b9;
}

.search-table-container {
  background: rgb(248,249,250);
  padding-left: 0px;
}

.search-table-component {
  margin: 30px;
}

.table-header {
  background: rgb(75,160,181);
}
/*Nav styles*/

.h-hub-brand {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h-hub-nav-link {
  text-decoration: none;
  color: white;
}

.h-hub-nav-link:hover {
  text-decoration: none;
  color: rgb(75,160,181);
}

.search-input {
  border-radius: 0 .25rem .25rem 0;
  border-left-style: none;
  border-left-width: 0;
}

.search-button {
  border-radius: .25rem 0 0 .25rem;
}
