.App-header {
  text-align: center;
  height: 200px;
  padding: 100px;
}

.App-footer {
  text-align: center;
  position: relative;
  bottom: 0;
  margin:  0 10px;
  width: 100%;
}

.App-title {
  font-size: 10em;
}

.App-intro {
  font-style: italic;
  font-size: large;
}

.Sideways {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
  margin-top: 2%;
}

.HoverPointer {
  cursor: pointer;
}

.PaginationBox {
  margin: 3px;
}

.radioBox {
  display: flex;
}

.radioBox > .radioLabel {
  margin-right: 1em;
}

.login {
  margin: 150px;
  text-align: center;
}

body {
  font-family: "Roboto", "sans-serif";
}

.search-page {
  height: 90vh;
}

.search-table {
  height: 80vh;
}