.checkColumn {
    flex-direction: column;
    justify-content: space-between;
}
.head {
    background-color: #989898;
}
.button-2 {
    background-color: #989898;
    height: 30px;
    border-radius: 5px;
}
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.dropdown {
    flex-direction: row;
}
