.navbar {
  background: rgb(91,91,91);
}

.burger-line {
  color: white;
}

.sidebar-burger-toggle {
	position: absolute;
}

a {
  color : black;
}

.circle:before {
  content: ' \25CF';
  font-size: 25px;
  padding-right: 15px;
  padding-left: 10px;
}

.menu-item {
  padding: 5px;
  padding-left: 10px;
  color: rgb(216,216,216);
}
.menu-item:hover {
  background-color: rgb(231,231,231);
}

.menu-item-selected {
  background: rgb(231,231,231);
  color: rgb(91,91,91);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  font-size: 1.3em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}


/* Individual item */
.bm-item {
  display: inline-block;
  cursor: pointer;
}

.bm-item:focus {
  outline: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.search-sidebar {
  background : #b6b6c3;
}